<ion-view title="Answers (You got {{ numTotalRight }} right!)">
  <ion-content class="padding">
		<div class="list card text-center" ng-repeat="result in results track by $index">
			<div class="item item-body">
			  	{{ result.name }}
			</div>
			<div class="item item-body">
			  <h1>{{ result.answer ? "Yes" : "No" }}</h1>
			</div>
			<div class="item item-body">
			  <span style="display:inline-block; width:49%; vertical-align:top;" ng-class="{ 'question-bg-correct': result.result }">
			  	<div style="color:green; font-size:35px; padding:10px;">{{ result.percentageRight }}%</div>
			  	<div style="color:green;">Right</div>
				  <div style="padding:15px;">
			  	  <span ng-repeat="element in peopleRight track by $index">
					  	<img ng-src="http://tinderforfood.s3.amazonaws.com/people_images/{{ element }}.jpg" style="width:20px;" />
					  </span>
					</div>
					<div>{{ result.result ? "You" : "" }}</div>
			  </span>
			  <span style="display:inline-block; width:49%; vertical-align:top;" ng-class="{ 'question-bg-wrong': !result.result }">
			  	<div class="assertive" style="font-size:35px; padding:10px;">{{ 100 - result.percentageRight }}%</div>
			  	<div class="assertive">Wrong</div>
			  	<div style="padding:15px;">
			  	  <span ng-repeat="element in peopleWrong track by $index">
					  	<img ng-src="http://tinderforfood.s3.amazonaws.com/people_images/{{ element }}.jpg" style="width:20px;" />
					  </span>
					</div>
					<div>{{ result.result ? "" : "You" }}</div>
			  </span>
		  </div>
		</div>
		<div class="bar bar-header bar-stable" style="position: relative; background-color: #4a87ee;" ng-click='goToHome();'>
		  <span class="title" style="color: white;">More Questions</span>
		</div>
  </ion-content>
</ion-view>
