<ion-view title="Answers">
  <ion-content class="padding">
		<div class="list card text-center">
			<div class="item item-body">
			  	Does apples contain lots of calcium?
			</div>
			<div class="item item-body">
			  <div>The answer is</div>
			  <h1>YES</h1>
			</div>
			<div class="item item-body">
			  <span style="display:inline-block; width:49%; vertical-align:top; background-color:#D5D9D3;">
			  	<div style="color:green; font-size:35px; padding:10px;">27%</div>
			  	<div style="color:green;">Right</div>
				  <div style="padding:15px;">
			  	  <span ng-repeat="element in array">
					  	<img ng-src="http://tinderforfood.s3.amazonaws.com/people_images/{{ element }}.jpg" style="width:20px;" />
					  </span>
					</div>
					<div>You</div>
			  </span>
			  <span style="display:inline-block; width:49%; vertical-align:top;">
			  	<div style="color:red; font-size:35px; padding:10px;">73%</div>
			  	<div style="color:red;">Wrong</div>
			  	<div style="padding:15px;">
			  	  <span ng-repeat="element in array">
					  	<img ng-src="http://tinderforfood.s3.amazonaws.com/people_images/{{ element }}.jpg" style="width:20px;" ng-class='{ sdlf: noShow' />
					  </span>
					</div>
			  </span>
		  </div>
		</div>
  </ion-content>
</ion-view>
