/* Empty. Add your own CSS if you like */

.box {
  height: 500px;
  overflow: none;
}

.question-image {
  height: 200px;
  margin-bottom: 20px;
}

.question-no {
  color: red;
  border: 1px solid red;
  text-align: center;
}

.question-yes {
  color: green;
  border: 1px solid green;
  text-align: center;
}